// Sass variables

$primary-color: rgb(103, 8, 8);
$accent-color: rgb(218, 240, 20);
$text-color: rgb(223, 237, 223);
$mobile: 300px;

// hashmap
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);