// Sass variables

$primary-color: rgb(103, 8, 8);
$accent-color: rgb(247, 238, 238);
$text-color: rgb(223, 237, 223);
// hashmap
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);